@import '../variables';
blockquote {
  --background: #f3f8f3;
  --title: #489e49;
  --border: #50af51;

  background: var(--background);
  padding: 1.33rem;
  margin-left: 0;
  border-left: 2px solid var(--border);
}

.nav-list-link.active{
  color: $sea !important;
}

.nav-list-link {
  color: $eclipse;
}

.search-result-highlight {
  color: $eclipse;
}

.site-logo {
  width: 80%;
}
