//
// Typography
//

$body-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif !default;
$mono-font-family: "SFMono-Regular", Menlo, Consolas, Monospace !default;
$root-font-size: 16px !default; // Base font-size for rems
$body-line-height: 1.4 !default;
$content-line-height: 1.6 !default;
$body-heading-line-height: 1.25 !default;


//
// Colors
//

@import '../variables';
$white: #fff !default;

$body-background-color: $moon;
$sidebar-color: rgb(251, 248, 243);
$search-background-color: $moon;
$table-background-color: $white;
$code-background-color: $grey-lt-000;
$feedback-color: darken($sidebar-color, 3%);

$body-text-color: $eclipse;
$body-heading-color: $eclipse;
$search-result-preview-color: $eclipse;
$nav-child-link-color: $eclipse;
$link-color: $sea;
$btn-primary-color: $sea;
$base-button-color: #f7f7f7;

$font-size-8: 24px !default; //h1
$font-size-9: 24px !default;
